body {
    margin: 0;
    padding: 0;
    border: 1px solid blue;
}

header{
    display: flex;
    height: 100%;
    width: auto;
    justify-content: center;
    background-color: rgb(68, 67, 67);
    border:1px solid red;
}
.container{
    display: inline;
}
.text{
    display: flex;
    position: absolute;
    height: auto;
    width: auto;
    margin-top: 70px;
    color: whitesmoke;
    
}

h1{
margin-right: 205px;
}

.text2{
    margin-left: 15px;
    margin-top: 30px;
  
}


.container{
    display: flex;
    position: absolute;
    margin-top: -12px;
    margin-left: 280px;
}
.image {
   display:flex;
   margin: 220px 50%;
   
}
.image,p{
  margin-right: -100px; 
    
}


p{
    color:gainsboro;
    margin-top: 105px;
    margin-left: 18px;
}

.list{
    display: inline-block;
    color: black;
    line-height: 1.3;
    margin-left: 200px;
    border-bottom: 1px solid burlywood;
    
}
 
.poster{
    height: 210px;
    width: 140px;
    margin-left: -180px;
    margin-top:-120px;
    margin-bottom: 2px;
    border-bottom: 1px solid burlywood;
}
footer{
    margin-top:200px;
}

.text-1, .text-2, .text-3{
    display: block;
    
    
}


.icon{
    height: 12px;
    width: 12px;
    border-radius: 100%;
    
}









































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    




