html, body {
    margin: 0;
    padding: 0;
    border: 1px solid blue;
}

.image {
    display:flex;
   margin: 230px 50%;
   
}
img,p{
  margin-right: -100px; 
    
}


p{
    color:gainsboro;
    margin-top: 105px;
    margin-left: 18px;
}


















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    




