html, body {
    margin: 0;
    padding: 0;
    border: 1px solid blue;
}
header{
    display: flex;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
.container{
    display: flex;
    margin-top: 125px;
    margin-left: 150px;
}
.image {
    display:flex;
   margin: 230px 50%;
   
}
img,p{
  margin-right: -100px; 
    
}


p{
    color:gainsboro;
    margin-top: 105px;
    margin-left: 18px;
}


















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    




