html {
    margin: 0;
    padding: 0;
    border: 1px solid blue;
}
body{
    margin: 5px;
    padding: 5px;
}
header{
    display: flex;
    height: 100%;
    width: auto;
    justify-content: space-evenly;
    background-color: black;
    border:1px solid black;
}
.text{
    display: flex;
    position: absolute;
    height: 100%;
    width: auto;
    margin-top: 70px;
    color: whitesmoke;
}

h1{
margin-right: 205px;
}

.text2{
    margin-left: 15px;
    margin-top: 28px;
  
}


.container{
    display: flex;
    position: absolute;
    margin-top: -12px;
    margin-left: 280px;
}
.image {
    display:flex;
   margin: 220px 50%;
   
}
img,p{
  margin-right: -100px; 
    
}


p{
    color:gainsboro;
    margin-top: 105px;
    margin-left: 18px;
}

.list{
    display: block;
    margin:5px auto;
    line-height: 1;
    margin-bottom: 250px;
}
















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    




