html {
    margin: 0;
    padding: 0;
    border: 1px solid blue;
}
body{
    margin: 5px;
    padding: 5px;
}
header{
    display: flex;
    background-image: url(images/header-bg.png);
    margin-top: 195px;
    /* position: relative; */
}
.container{
    display: flex;
    position: relative;
    margin-top: 135px;
    margin-left: 150px;
}
.image {
    display:flex;
   margin: 220px 50%;
   
}
img,p{
  margin-right: -100px; 
    
}


p{
    color:gainsboro;
    margin-top: 105px;
    margin-left: 18px;
}


















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    




