.initial-state,
.initial-state * {
  box-sizing: border-box;
}
.initial-state {
  background: #ffffff;
  height: 779px;
  position: relative;
  overflow: hidden;
}
.header {
  background: #0e0e0e;
  width: 550px;
  height: 208px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.https-unsplash-com-photos-thjjr-uh-nl-ec {
  width: 550px;
  height: 208px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.find-your-film {
  color: #ffffff;
  text-align: justified;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 42.79470443725586px;
  line-height: 23.77px;
  letter-spacing: -0.045em;
  font-weight: 800;
  position: absolute;
  left: 42px;
  top: 82.45px;
  width: 359px;
  height: 47.55px;
  display: flex;
  align-items: center;
}
.my-watchlist {
  color: #ffffff;
  text-align: right;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 390px;
  top: 100px;
  width: 114px;
}
.search-bar {
  background: var(--white, #ffffff);
  border-radius: 6px;
  border-style: solid;
  border-color: var(--gray-300, #d1d5db);
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 462px;
  position: absolute;
  left: 44px;
  top: 189px;
  box-shadow: var(--shadow-sm-box-shadow, 0px 1px 2px 0px rgba(0, 0, 0, 0.05));
  overflow: hidden;
}
.input {
  padding: 9px 13px 9px 13px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.search {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.placeholder {
  color: var(--gray-500, #6b7280);
  text-align: left;
  font-family: var(
    --text-sm-leading-5-font-medium-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--text-sm-leading-5-font-medium-font-size, 14px);
  line-height: var(--text-sm-leading-5-font-medium-line-height, 20px);
  font-weight: var(--text-sm-leading-5-font-medium-font-weight, 500);
  position: relative;
}
.sort {
  background: var(--gray-50, #f9fafb);
  border-radius: 0px 6px 6px 0px;
  border-style: solid;
  border-color: var(--gray-300, #d1d5db);
  border-width: 1px;
  padding: 9px 11px 9px 17px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 120px;
  position: relative;
  overflow: hidden;
}
.sort-ascending {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.trailing-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text {
  color: var(--gray-700, #374151);
  text-align: left;
  font-family: var(
    --text-sm-leading-5-font-medium-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--text-sm-leading-5-font-medium-font-size, 14px);
  line-height: var(--text-sm-leading-5-font-medium-line-height, 20px);
  font-weight: var(--text-sm-leading-5-font-medium-font-weight, 500);
  position: relative;
}
.chevron-down {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.no-data-initial {
  position: absolute;
  inset: 0;
}
.start-exploring {
  color: #dfdddd;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 201px;
  top: 490px;
  width: 148px;
}
.icon {
  width: 12.73%;
  height: 7.86%;
  position: absolute;
  right: 43.64%;
  left: 43.64%;
  bottom: 38.22%;
  top: 53.92%;
  overflow: visible;
}
